{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
    <div class="current-tab-name text-center">
        <h6 class="mt-2">Add Station</h6>
    </div>
</div>
<form  action="{{url_for('addstation')}}" method="POST" class="current-inner mt-0 mb-3">
    <div class="d-flex flex-column justify-content-between add-station-main">
        <div class="d-flex flex-start inputs">

            <div class="form-div" >
                <div class="label-div">
                    Station
                </div>
                <div class="input-div">
                    {{form.hidden_tag()}}
                    {{form.station(class="form-control d-block")}}
                </div>
            </div>
            <div class="p-4"></div>
            <div class="form-div">
                <div class="label-div">
                    District
                </div>
                <div class="input-div">
                    {{form.district(class="form-select d-block")}}
                </div>
            </div>
        </div>
        <div>
            {{form.submit(class="button p-2")}}
        </div>
    </div>
</form>
{% endblock %}