{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
    <div class="current-tab-name text-center">
        <h6 class="mt-2">Add Item</h6>
    </div>
</div>

<div class="current-inner mt-0 mb-3">
    {% if successMessage %}
                            <div class="alert alert-success" role="alert">
                                {{successMessage}}
                                <a href="{{url_for('database_download',filename='item.docx')}}">Download File</a>
                            </div>
                            {% endif %}

    <form action="{{url_for('additem')}}" method="POST">
        {{form.hidden_tag()}}
    <div class="d-flex flex-column justify-content-between issued-to-main add-item-main">
        <div class="d-flex justify-content-start flex-wrap inputs">

            <div class="m-4 form-div">
                <div class="label-div">
                   Product Name
                </div>
                <div class="input-div">
                    {{form.productname(class="form-control p-2")}}
                    <!-- <input type="text" name="productname" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="m-4 form-div">
                <div class="label-div">
                    Date of Survey
                </div>
                <div class="input-div">
                    {{form.dateofsurvey(class="form-control p-2" )}}
                    <!-- <input type="text" name="dateofsurvey" class="form-control d-block" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>
            <div class="m-4 form-div">
                <div class="label-div">
                    Bill No.
                </div>
                <div class="input-div">
                    {{form.billno(class="form-control p-2" )}}
                    <!-- <input type="text" name="billno" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>
            <div class="m-4 form-div">
                <div class="label-div">
                    Name of Firm
                </div>
                <div class="input-div">
                    {{form.nameoffirm(class="form-control p-2" )}}
                    <!-- <input type="text" name="nameoffirm" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="m-4 form-div">
                <div class="label-div">
                    Quantity
                </div>
                <div class="input-div">
                    {{form.quantity(class="form-control p-2" )}}
                    <!-- <input type="text" name="quantity" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>
            <div class="m-4 form-div">
                <div class="label-div">
                    Rate per Item <br/>
                </div>
                <div class="input-div">
                    {{form.rateperitem(class="form-control p-2" )}}
                    <!-- <input type="text" name="rateperitem" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>
            <div class="m-4 form-div">
                <div class="label-div">
                    Amount Total
                </div>
                <div class="input-div">
                    {{form.totalamount(class="form-control p-2" )}}
                    <!-- <input type="text" name="totalamount" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

        </div>
        <div class="m-4 p-4">
            {{form.submit(class="button p-2")}}
        </div>
    </div>
</form>
</div>
{% endblock %}