{% extends 'base.html'%}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

    window.onload = function initialFunction() {
        document.getElementById("distbatt").style.display = "initial";
        document.getElementById("Station").style.display = "none";
        document.getElementById("District").style.display = "none";
        document.getElementById("Battalion").style.display = "none";
    }

    function myFunction(select) {
        let box_value = document.getElementById(select).value;

        if (box_value === '1') {
            document.getElementById("District").style.display = "none";
            document.getElementById("Station").style.display = "none";
            document.getElementById("Battalion").style.display = "none";
        }
        else if (box_value === 'District') {
            document.getElementById("Battalion").style.display = "none";
            document.getElementById("District").style.display = "initial";
        }
        else if (box_value === 'Battalion') {
            document.getElementById("District").style.display = "none";
            document.getElementById("Station").style.display = "none";
            document.getElementById("Battalion").style.display = "initial";
        }
    }

    function myFunction2(select) {
        let dist = document.getElementById(select).value;

        var data = {{ data|tojson }};

        var obj;
            console.log(obj)
        for(item in data) 
        {
            if(item === dist) obj = data[item];
        }
        document.getElementById('select4').innerHTML = "";
        console.log(obj);
        for(key in obj) {
            console.log(key);
            document.getElementById('select4').innerHTML += `
                <option value=${obj[key]}>${obj[key]}</option>
        `; }
        

        if (select == 'select2' && dist === '1') {
            document.getElementById("Station").style.display = "none";
        }
        else {
            document.getElementById("Station").style.display = "initial";
        }
        var d = {'name':dist};
        $.ajax({
            type: "POST",
            url: "{{url_for('district')}}",
            contentType: "appication/json",
            data: JSON.stringify(d),
            dataType: "json",
            success: function(response) {
                console.log(response);
            },
            error:function(err) {
                console.log(err);
            }
        });
    }

</script>

<div class="d-flex flex-start  mb-0 content-outer">
    <div class="current-tab-name text-center">
        <h6 class="mt-2">Issued To</h6>
    </div>
</div>

<form action="{{url_for('issuedto')}}" method="POST" class="current-inner">
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                            {% endif %}
    <div class="d-flex flex-column justify-content-between issued-to-main">
        <div class="d-flex flex-wrap justify-content-between inputs h-50">

            {% if session['productname']%}
            <div class="form-div p-3">
                <div class="label-div">
                    Product
                </div>
                <div class="input-div">
                    <input type="text"  disabled class="form-control d-block" value={{session['productname']}}>
                </div>
            </div>
            {% else %}
            <div class="form-div p-3" >
                <div class="label-div">
                    Product
                </div>
                <div class="input-div">
                    <input type="text"  disabled class="form-control d-block" value={{session['productname']}}>
                </div>
            </div>
            {% endif %}
            <div class="form-div p-3" id="distbatt">
                <div class="label-div">
                    District/Battalion/Unit
                </div>
                <div class="input-div">
                    <select class="form-select" aria-label="Disabled select example" id="select1"
                        onchange="myFunction('select1')" required>
                        <option value="1" selected>Select District/Battlion</option>
                        <option value="District">District</option>
                        <option value="Battalion">Battalion</option>
                    </select>
                </div>
            </div>

            <div class="form-div p-3">
                <div class="label-div">
                    From
                </div>
                <div class="input-div">
                    <input type="text" class="form-control d-block" name="issuedfrom" required>
                </div>
            </div>

            <div class="form-div p-3">
                <div class="label-div">
                    Branch to Issue
                </div>
                <div class="input-div">
                    <input type="text" class="form-control d-block" name="issuedto" required>
                </div>
            </div>
            <div class="form-div p-3">
                <div class="label-div">
                    Quantity
                </div>
                <div class="input-div">
                    <input type="text" class="form-control d-block" name="quantity" required>
                </div>
            </div>
            <div class="form-div p-3" style="margin-right: 4rem;" id="District">
                <div class="label-div">
                    Districts
                </div>
                <div class="input-div">
                    <select name="district" class="form-select" aria-label="Disabled select example" id="select2"
                        onchange="myFunction2('select2')">
                        <option value="1" selected>Select District</option>
                        {% for item in data %}
                        <option value={{item}}>{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-div p-3"  id="Battalion">
                <div class="label-div">
                    Battalion
                </div>
                <div class="input-div">
                    <select name="battalion" class="form-select" aria-label="Disabled select example" id="select3"
                        onchange="myFunction('select3')">

                        <option value="1" selected>Select Battalion</option>
                        {% for item in battalions %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-div p-3" id="Station">
                <div class="label-div">
                    Sub Station
                </div>
                <div class="input-div">
                    <select name="station" class="form-select" aria-label="Disabled select example" id="select4"
                        onchange="myFunction('select4')">
                    </select>
                </div>
            </div>

            <br>
        </div>
        <div style="margin-bottom: 4rem;">
            <button type="submit">Assign</button>
        </div>
    </div>

</form>
{% endblock %}