<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <link type= "text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />


</head>
<body>
    <div class="container-fluid m-0 p-0 " style="height: 100vh">
        <div class="row h-100 m-0" style=" width: 100%">
            <div class="col login-left text-white" >
                <div class="d-flex flex-column  align-items-center   login-left-inner">
                    <div class="logo-login text-center" style="height: 95%">
                        <img src="{{url_for('static', filename='img/logo-homepage.svg')}}">
                    </div>
                    
                    <div class="foot-login ">
                        <span>Designed and developed by Silicon Garage</span>
                    </div>
                </div>                
            </div>
            <div class="col-8 login-right h-100 w-75 ">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
                    <div class=" m-3 mb-0 w-50"> 
                        <h2>Welcome back</h2>
                    </div>
                    <div class="db-text m-4 mt-2  w-50">
                        Sign in with your account
                    </div>
                    <div class="m-4 w-50">
                        <form action="{{url_for('login')}}" method="POST">
                            {{ form.hidden_tag() }}
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                              <label class="form-label db-text">Username</label>
                               {{form.email(class="form-control")}}
                            </div>
                            <div class="mb-3">
                              <label class="form-label db-text">Password</label>
                              {{form.password(class="form-control")}}
                            </div>
                            <div class="m-4 p-4">
                                {{form.submit(class="button p-2")}}
                            </div>
                          </form>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
        
</body>
</html>