{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
  <div class="current-tab-name text-center">
    <h6 class="mt-2">Main Ledger</h6>
  </div>
</div>
<div class="current-inner mt-0 mb-3">
  <div class="d-flex flex-column justify-content-between ">

    <form action="{{url_for('mainledger')}}" method="POST">
        <input type="hidden" name="type" value="not-excel">
      <div class="d-flex justify-content-start inputs">
        <div class="input-group mb-3 ">
          <span class="input-group-text" style="background: #ffffff;border:none" id="basic-addon1"><img
              src="{{url_for('static', filename='img/icons/search-icon.svg')}}" /></span>
              {{form.hidden_tag()}}
              {{form.search(class="form-control")}}
          <!-- <input style="border:none" type="text" class="form-control" placeholder="Search inventory…"
            aria-label="Username" aria-describedby="basic-addon1"> -->
          <img src="{{url_for('static', filename='img/icons/filter.svg')}}" />
        </div>
      </div>
    </form>
{% if data %}

    <div class="table-div">
        {% if error %}
              <div class="alert alert-danger" role="alert">
                     {{error}}
              </div>
       {% endif %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Item No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate/Item</th>
            <th scope="col"><span class="p-3"></span>Assign</th>
            <th class="text-center" scope="col"><span class="p-3" ></span>Assigning Details</th>
          </tr>
        </thead>
          <tbody class="table-body">
        {% for item in data%}

          <tr>
            <th scope="row">{{item[6]}}</th>
            <td>{{item[2].upper()}}</td>
            <td>{{item[8]}}</td>
            <td>&#8377; {{item[9]}}</td>
            <td class="text-center">
              <form action="{{url_for('issueing')}}" method="POST">
                  <input type="hidden" name="quantity" value={{item[8]}}>
                  <input type="hidden" name="product" value={{item[2]}}>
                  <input type="hidden" name="type" value='assign'>
                  <button type="submit" class="p-1 w-75">Assign</button>
              </form>

            </td>
              <td class="text-center">
                  <form method="POST" action="{{url_for('issueing')}}">
                    <input type="hidden" name="product" value={{item[2]}}>
                    <input type="hidden" name="type" value='assignhistory'>
                    <button type="submit" class="p-1 w-50">Assigned</button>
                </form>
              </td>
          </tr>

        {% endfor %}
          </tbody>
      </table>
    </div>
      <div>
    <form method="POST" action="{{url_for('download')}}" style="margin: 1rem; margin-bottom: 5rem; display: flex;justify-content: center;">
      <input type="hidden" name="type" value="excel">
      <button type="submit" class="p-2 w-25">Download Excel</button>
    </form></div>
    {% else %}
    <center><h1 class="p-4">No Record Found!</h1></center>
    {% endif %}
  </div>
</div>
{% endblock %}