{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
  <div class="current-tab-name text-center">
    <h6 class="mt-2">Retrieved History</h6>
  </div>
</div>
<div class="current-inner mt-0 mb-3">
  <div class="d-flex flex-column justify-content-between ">

{% if data %}
    <div class="table-div">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Retrieved To</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">District</th>
            <th scope="col">Battalion</th>
            <th scope="col">Station</th>
            <th scope="col">Sub Station</th>
          </tr>
        </thead>
        {% for item in data%}
        <tbody>
          <tr>
            <td scope="row">{{item[1]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[8]}}</td>
            <td>
              {% if item[4] == 1%}
                -
              {% else %}
                {{item[4]}}
               {% endif %}
            </td>
            <td>
              {% if item[5] == 1 %}
                -
              {% else %}
                {{item[5]}}
              {% endif %}
            </td>
            <td>
              {% if item[6] == 1 or item[6] == None or item[6] == 'none' %}
                -
              {% else %}
                {{item[6]}}
               {% endif %}
            </td>
            <td>
              {% if item[7] == 1 or item[7] == None or item[7] == 'none'%}
                -
                {% else %}
                {{item[7]}}
               {% endif %}
              </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <center><h1 class="p-4">No Record Found!</h1></center>
    {% endif %}
    <div>
      <center>
        <a href="{{url_for('mainledger')}}"><button>Go back</button></a>
      </center>
    </div>
  </div>
</div>
{% endblock %}