{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
  <div class="current-tab-name text-center">
    <h6 class="mt-2">Assigned History</h6>
  </div>
</div>
<div class="current-inner mt-0 mb-3">
  <div class="d-flex flex-column justify-content-between ">

{% if data %}

    <div class="table-div">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Issued From</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Issued To</th>
            <th scope="col">District</th>
            <th scope="col">Battalion</th>
            <th scope="col">Station</th>
          </tr>
        </thead>
        {% for item in data%}
        <tbody>
          <tr>
            <td scope="row">{{item[0].upper()}}</td>
            <td>{{item[1].upper()}}</td>
            <td>{{item[-1]}}</td>
            <td>{{item[2].upper()}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <center><h1 class="p-4">No Record Found!</h1></center>
    {% endif %}
  </div>
</div>
{% endblock %}