{% extends 'base.html'%}
{% block content %}
<div class="d-flex flex-start  mb-0 content-outer">
    <div class="current-tab-name text-center">
        <h6 class="mt-2">Add Item</h6>
    </div>
</div>

<div class="current-inner mt-0 mb-3">

    <form action="{{url_for('updateItem')}}" method="POST">
        {{form.hidden_tag()}}
    <div class="d-flex flex-column justify-content-between issued-to-main add-item-main">
        <div class="d-flex justify-content-start flex-wrap inputs">
            <div class="mx-5 mt-2 mb-3 form-div" style="width: 40%;">
                <div class="label-div">
                   Product Name
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.productname(class="form-control p-2")}}
                    <!-- <input type="text" name="productname" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mx-5 mt-2 mb-3 form-div" style="width: 40%;">
                <div class="label-div">
                    Name of Firm
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.nameoffirm(class="form-control p-2" )}}
                    <!-- <input type="text" name="nameoffirm" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="m-5 form-div" style="width: 27%;">
                <div class="label-div">
                    Quantity
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.quantity(class="form-control p-2" )}}
                    <!-- <input type="text" name="quantity" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mt-5 mb-5 form-div" style="width: 27%;">
                <div class="label-div">
                    Rate per Item <br/>
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.rateperitem(class="form-control p-2" )}}
                    <!-- <input type="text" name="rateperitem" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mt-5 mx-5 form-div" style="width: 26%;">
                <div class="label-div">
                    Total Amount
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.totalamount(class="form-control p-2" )}}
                    <!-- <input type="text" name="totalamount" class="form-control d-block p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mt-3 mx-5 form-div" style="width: 27%;">
                <div class="label-div">
                    Date of Survey
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.dateofsurvey(class="form-control p-2" )}}
                    <!-- <input type="text" name="dateofsurvey" class="form-control d-block" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mt-3 mb-5 form-div" style="width: 27%;">
                <div class="label-div">
                    Warranty Period
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.warranty(class="form-control p-2")}}
                    <!-- <input type="text" name="dateofsurvey" class="form-control d-block" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

            <div class="mt-3 mx-5 form-div" style="width: 26%;">
                <div class="label-div">
                    Bill No.
                </div>
                <div class="input-div" style="width: 100%;">
                    {{form.billno(class="form-control p-2")}}
                    <!-- <input type="text" name="billno" class="form-control  p-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                </div>
            </div>

        </div>
        <div class="mt-3 mx-5">
            {{form.submit(class="button p-2")}}
        </div>
    </div>
</form>
</div>
{% endblock %}